* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}
body {
    font-family: "Open San", Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #666;

}

/* Navbar */
nav{
   height: 90px;
   background:#0007;
   position: fixed;
   /* float: right; */
   width: 100%;
  }
.nav img{
  width: 150px;
  position: absolute;
  top:2px;
  height: 70px;
  left: 12%;

}
.nav-links{
  float: right;
  margin-right: 50px;

}
nav ul .navlinking{
  display: inline-block;
  /* line-height: 50px; */
  margin-right:2rem;
  margin-top:2rem;
  text-align: center;

}

nav ul li a{
  position: relative;
  font-size: 18px;
  color: #fff;
  /* padding: 5px 0; */
  text-transform: uppercase;

}
nav ul li a:before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}

nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;

}
label #navbutton,
label #cancel{
  color: white;
  font-size: 30px;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

#active {
    color: red;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  margin-left: 57.4rem;
  list-style: none;
  margin-top: 0.1rem;;
  background-color: #0007;
  width: 400px;
  height: 44vh;


}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
    margin-bottom: 2rem;
}

ul li ul li:hover {
    background-color: #fff8;
}

.hellos {
    float: left;
    width: 40%;
    margin-left: 29px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.hello {
    width: 50%;
    float: left;
    margin-top: 2rem;
    margin-left:  0.65rem;
    color: red;
    text-align: left;

}

.drophover {
  background-color: #fff0;
  font-size: 15px;

}
.drophover:hover{
  background-color: none;
}

ul li ul li .dropdown:hover{
  background-color: none;
  /* font-size: 10px; */

}

/* Navbar */


/* Part1 Starts Here */
.bg-img {
    background-image: url("images/architecture1.png");
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    height: 56vh;
}



.container {
    text-align: center;
    padding-top: 11rem;
    padding-right: 0rem;
    padding-bottom: 9rem;
    padding-left: 0px;
}

.headline {
    font-weight: 700;
    font-size: 80px;
    font-display: block;
    color: #ffffff!important;
    text-align: center;
    text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4)
}

h2 {
    font-size: 26px;
    color: #ffffff!important;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0em 0.1em 0.1em #9b9b9b;
}

.btn {
    position: relative;
    padding: .3em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.btn-1 {
    color: #FFFFFF!important;
    border-width: 0px!important;
    background-color: #ED2224;
    transition: all 300ms ease 0ms;
    display: inline-block;
    margin-top: 14px;
    padding: 14px;
}

.btn-1:hover {
    background-color: red;
    transition: 0.9s;
}


/*Part1 Ends Here*/



.scrolling-active {
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active .nav {
    height: 70px;
}

.scrolling-active .nav a {
    color:white;
}

.scrolling-active .nav #logo {
  margin-top: 0.4rem;
    height:50px;
}

.scrolling-active .nav-link::after {
    background-color: #313131;
}




/* Part2 Starts Here */

/*Part2 Starts Here*/

.wrappers {
    overflow: hidden;
    background: #0009;
    font-weight:500;

}

#container1 {
    width: 100%;
    margin: auto;
    height: auto;
    overflow: auto;
    text-align: center;
    height: 130vh;
    color: #fff;
    /* overflow: hidden; */
}

#container1 .lefts {
    float: left;
    width: 40%;
    font-weight:500;

}

.image1 {
    padding-top: 100px;
    padding-bottom: 60px;
    height: 80%;
    width: 70%;
    text-align: center;
}

#container1 .rights {
    float: left;
    width: 60%;
    margin-top: 90px;
    font-weight:500;

}

.lines1 {
    background-color: red;
    height: 2px;
    width: 60px;
}

.headers {
    padding-top: 2rem;
    padding-right: 4rem;
    /* padding-left: 3rem; */
    padding-bottom: 3rem;
    text-align: left;
}

.master,
.masterinner {
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    padding-bottom: 0.4rem;
}

h3 {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 2.5rem;
    padding-top: 0.4rem;
}

.masterinner1,
.masterinner2,
.masterinner3,
.masterinner4 {
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    padding-bottom: 1.5rem;
    text-align:justify;

}

.rowbtn {
    text-align: left;
}

.btn-2,
.btn-3 {
    color: red;
    /* padding::px; */
    margin-right: 4rem;
}

.btn-2:hover,
.btn-3:hover {
    background-color: red;
    transition: 0.9s;
}

.btn2,
.btn3 {
    color: white;
}

a {
    text-decoration: none;
}



/* Part2 Ends Here */



/* Part3 Products Starts Here */
/* Part3 Products Starts Here */

.container3{
  height: 120vh;
  font-style: serif;
  background-color:#111;
  padding-top: 50px;
  text-align: center;

}


.card1,.card2,.card3,.card4{
   margin-left: 29px;
  margin-right: 29px;
  margin-top: 30px;
  float: left;
  width: 20%;
  /* border-radius: 10px; */
}
.images3{
  height:250px ;
  width:250px;
  border-radius: 2px;
}
.btns{
  margin-top: 3rem;
  margin-right: 6.5rem;
  text-align: center;
  border-color: grey;
  opacity: 1;
  justify-content:center;
  padding:0.5rem;
-ms-transform: translateX(60%);
transform: translateX(40%);

}

.btns:hover{
 background-color: white;
 transition: 0.9s;
}
.paragraph{
  text-align: center;
  /* margin-left: 1rem; */
  margin-top: 2rem;
  color: #fff;
}
/* Part3 Product Ends Here */

/* Part3 Product Ends Here */



/* Footer Starts Here */

.container2 {
    width: 100%;
    margin: auto;
    height: auto;
    /* background: grey; */
    background-color:rgba(0, 0, 0, 0.9);

    overflow: hidden;
    text-align: center;
    height: 50vh;
    color: #eee;
    font-weight: 240;
    /* font-family: Oswald Helved; */
    /* overflow: hidden; */
}

.container2 .left1 {
    float: left;
    width: 30%;
    margin-top: 60px;
}

.container2 .left25 {
    float: left;
    width: 25%;
    margin-top: 60px;
}

.container2 .right25 {
    float: left;
    width: 20%;
    margin-top: 60px;
}

.container2 .right1 {
    float: left;
    width: 25%;
    margin-top: 60px;
}


/* For first lefy  and Second left*/

.texts p a,
.texts1 p a {
    color: #eee;
    font-family: serif;
    font-weight: 20;
}

.texts {
    text-align: left;
    margin-left: 10rem;
    margin-top: -0.6rem;
}


/* margin-bottom: 30px; */

.texts p,
.texts1 p,
.texts2 p {
    margin-bottom: 18px;
    font-family: serif;
    font-weight: 20;
}


/* For Second Left */

.texts1 {
    text-align: left;
    margin-left: 3rem;
    margin-top: -1rem;
}


/* For Second Right */

.texts2 {
    text-align: left;
    margin-top: -1rem;
}


/* First Right */

.logos {
    margin-right: 3rem;
    margin-top: 0.5rem;
    radius: 20px;
    /* border-radius: 50%; */
}

.images2 {
    border-radius: 50%;
}


/* Last Footer */

.End {
    background-color: black;
    padding: 18px;
}

.End a {
    justify-content: space-between;
    margin-left: 10rem;
    font-size: 18px;
    color: #ccc;
}




/* MediaQuery For Navbar */

@media (max-width:1118px) {
  nav img{
    left:8%;
  }
}
@media (max-width:944px) {
  nav img{
    left: 6%;
    top:20px;
    width: 130px;
  }
  nav ul .navlinking a{
    font-size: 17px;
  }

/* Media Query FOr Navnar Ends Here */

/* Media Query FOr Part1 Starts here */
  .bg-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Needed to position the navbar */
      position: relative;
      /* height: 92vh; */
  }
  .container {
      text-align: center;
      padding-top: 10rem;
      padding-right: 0rem;
      padding-bottom: 6rem;
      padding-left: 0px;
  }
  .headline {
      font-size: 45px;
      color: white;
      font-weight: bolder;
      text-align: center;
  }
  .subheadline {
      display: none;
  }
  h2 {
      font-size: 20px;
      text-align: center;
  }
  .btn,
  .btn-1 {
      /* padding-left: 10px; */
      /* padding-right: 0px; */
      font-size: 11px;
      margin-top: 20px;
      padding: 10px;
  }
  /* Part1 Ends Here */



/* Part3 MediaQuery For Products Starts Here*/


      .container3{
        height: 400vh;
        font-style: serif;
        text-align: center;

      }
      .heading{
        font-size: 30px;
        font-weight: 100;
      }
      .beforeproduct .subheading{
        font-size: 20px;
        font-weight:-1000rem;
        text-align: center;
      }
      .card1,.card2,.card3,.card4{
         margin-left: 20px;
        /* margin-right: 20rem; */
        margin-top: 30px;
        float: left;
        width: 100%;
        /* border-radius: 10px; */
      }
      .images3{
        height:300px ;
        width:300px;
        border-radius: 2px;
        margin-right: 3rem;

      }
      .paragraph{
        margin-top: 1rem;
        margin-right: 15rem;
        text-align: center;
        border-color: grey;
        opacity: 1;
        justify-content:center;
        padding:0.5rem;
      -ms-transform: translateX(60%);
      transform: translateX(40%);
      /* border-radius: 20px; */

      }
      /* .btn:hover{
       background-color: #ddd;
       transition: 0.6s;
      } */

      /* Part3 MediaQuery for Product Ends Here */

  /* Media Query For Footer Starts Here */
  .container2 {
      width: 100%;
      height: 120vh;
      /* position:fixed; */
  }
  .container2 .left1 {
      width: 100%;
      margin-top: 6rem;
  }
  .container2 .left25 {
      width: 100%;
      text-align: left;
  }
  .container2 .right25 {
      width: 100%;
      margin-top: 5rem;
  }
  .container2 .right1 {
      float: left;
      width: 100%;
  }
  .texts1,
  .texts2,
  .texts {
      margin-left: 3rem;
  }
  /* First Right */
  .logos {
      text-align: left;
      margin-left: 3rem;
  }
  /* Media Query for footer ends here */




}


















/* MediaQuery For Mobile */
@media (max-width:860px) {
  label #navbutton{
    display: block;
    margin-left: 34rem;
    float: right;
  }
  ul{
    position: fixed;
    /* width: 80%;
    height: 60vh;
    background: #0001; */
    width: 70%;
    height: 60vh;
    /* background: #0001; */
    background-color: #0008;
    top:90.5px;
    left: -100%;
    text-align: center;
    transition:all .5s;
  }

  nav ul .navlinking{
    display: block;
    margin: 50px 0;
    line-height:8px;
  }

  nav ul .navlinking a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  #check:checked ~ label #navbutton{
    display: none;
  }
  #check:checked ~ label #cancel{
    display:block;
  }
/* Media Query For Navbar Ends Here */

  /* Part1 Media Query Starts Here */
  .bg-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* Needed to position the navbar */
      position: relative;
      /* height: 92vh; */
  }
  .container {
      text-align: center;
      padding-top:14rem;
      padding-right: 0rem;
      padding-bottom: 3rem;
      padding-left: 0px;
  }
  .headline {
      font-size: 35px;
      color: white;
      font-weight: bolder;
      text-align: center;
  }
  .subheadline {
      display: none;
  }
  h2 {
      font-size: 15px;
      text-align: center;
  }
  .btn,
  .btn-1 {
      /* padding-left: 10px; */
      /* padding-right: 0px; */
      font-size: 10px;
      margin-top: 30px;
      padding: 8px;
  }
  /* Part1 Ends Here */






  /* Part3 MediaQuery For Products Starts Here*/

      /* Part3 MediaQuery For Products Starts Here*/


      .container3{
        height: 280vh;
        font-style: serif;
        text-align: center;

      }
      .heading{
        font-size: 30px;
        font-weight: 100;
      }
      .beforeproduct .subheading{
        font-size: 20px;
        font-weight:-1000rem;
        text-align: center;
      }
      .card1,.card2,.card3,.card4{
         margin-left: 20px;
        /* margin-right: 20rem; */
        margin-top: 30px;
        float: left;
        width: 100%;
        /* border-radius: 10px; */
      }
      .images3{
        height:200px ;
        width:200px;
        border-radius: 2px;
        margin-right: 3rem;

      }
      .paragraph{
        margin-top: 1rem;
        margin-right: 15rem;
        text-align: center;
        border-color: grey;
        opacity: 1;
        justify-content:center;
        padding:0.5rem;
      /* -ms-transform: translateX(90%); */
      transform: translateX(100%);
      }

      /* Part3 MediaQuery for Product Ends Here */


  /* Media Query For Footer Starts Here */
  .container2 {
      width: 100%;
      height: 120vh;
      /* position:fixed; */
  }
  .container2 .left1 {
      width: 100%;
      margin-top: 6rem;
  }
  .container2 .left25 {
      width: 100%;
      text-align: left;
  }
  .container2 .right25 {
      width: 100%;
      margin-top: 5rem;
  }
  .container2 .right1 {
      float: left;
      width: 100%;
  }
  .texts1,
  .texts2,
  .texts {
      margin-left: 3rem;
  }
  /* First Right */
  .logos {
      text-align: left;
      margin-left: 3rem;
  }
  .images2{
    width: 32px;
    height: 32px;
      margin-right: 3px;
  }

  /* Media Query for footer ends here */



}
/* Media Query For Navbar Ends Here */
